@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
.custom-container {
  max-width: 992px;
  margin: 0px auto;
  padding: 32px 12px;
}
.status-area h5 {
  font-size: 12px;
  line-height: 14px;
}
.status-area {
  display: inline-block;
  background: #c20017;
  border: 1px solid #c20017;
  border-radius: 4px;
  color: #fff;
  padding: 4px 6px;
}
.status-area span {
  background-color: white;
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;

  animation: fading 2s infinite ease-in-out;
}
@keyframes fading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.data-jhdsfj p {
  font-size: 12px;
  line-height: 18px;
  color: #666;
}
.custom-container .title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.5px;
  color: #222;
}
.fw-extrabold {
  font-weight: 900;
}
.description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.25px;
  text-align: center;
  color: #666;
}
.summary__title {
  font-size: 24px;
  line-height: 12px;
  letter-spacing: -0.25px;
  color: #222;
}
.summary_delegates_remaining {
  padding: 2px 8px;
  border-radius: 16px;
  font-size: 11px;
  line-height: 16px;
  background: #1b4e81;
  display: inline-block;
}
.summary-candidate__image {
  max-width: 64px;
  border: 1px solid #1b4e81;
  background-color: #ddeeff;
  border-radius: 50%;
}
.summary-candidate__name,
.summary-candidate__count {
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #1b4e81;
  text-transform: capitalize;
}
.progress {
  background-color: #f4f4f4;
  border-radius: 8px;
}
.progress-bar {
  background-color: #1b4e81;
}
.summary-candidate__bar::before,
.votes-to-win::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 25px;
  height: 14px;
  border-left: 1px dashed #222;
}
.votes-to-win::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 18px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 6px solid black;
}
.votes-to-win{
  position: absolute;
  top: -28px;
  left: 50%;
  font-size: 11px;
}

/* right area  */
.primaries-schedule {
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-color: #e8e8e8 !important;
}
.primary-schedule-title {
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #222;
}
.primary-schedule-description {
  color: #666;
  font-style: normal;
  font-size: 14px;
}
.primaries-schedule-month__candidate {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 2px 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  font-weight: 900;
  font-size: 12px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.primaries-schedule-month__candidate--dem {
  background: var(--political-parties-dem-win, #1b4e81);
}
.primaries-schedule-month__candidate--gop {
  background: var(--political-parties-rep-win, #d20f26);
}
.takes-place {
  color: #222;
  font-size: 12px;
  line-height: 18px;
}
.takes-place::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  border-radius: 50%;
  background: var(--primary-yellow, #ffcc00);
}
.elections-2024 a {
  color: var(--light-mode-sub-text, #999);
  font-size: 12px;
  line-height: normal;
  font-style: normal;
  font-weight: 500;
}
.elections-2024 a:hover .bb-highlight {
  text-decoration: underline !important;
}

@media (min-width: 768px) {
  .custom-container .title {
    font-size: 48px;
    line-height: 50px;
  }
}
